* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background:  #570202;
    color: #fff;
  }
  
  .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 15px;
  }
  
  .actions {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
 
  .fa-solid  {
    padding-right: 5px;
    
  }

  .fa-regular{
    padding-right: 3px;
  }


  .sidebar {
    position: fixed;
    top:57px;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #570202;
    padding: 20px;
  }

  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
    text-align: center;

  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #EEEEEE;
    font-weight: bold;
    
  }
  
  /* Content */
  .content {
    padding: 20px;
       
  }

  #populerKonularListesi li {
    margin-top: 20px;
    margin-bottom: 10px; /* Her konu arasına biraz boşluk bırakır */
    border-bottom: 1px solid #ccc; /* Her konunun altına bir çizgi ekler */
    padding-bottom: 5px; /* Çizgi ile metin arasında biraz boşluk bırakır */
  }

  .sidebar hr {
    width: 100%; /* Side bar genişliği kadar çizgi olacak şekilde ayarlanır */
    height: 1px;
    margin: 8px 0;
  }
 

  footer {
    color: black;
    margin-top: 12.5px;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
footer p {
    margin: 0;
}

.reklam_container {
  position: fixed;
  right: 20px;
  top: 200px; 
  width: 250px; 
  height: 700px;
}

.reklam_container:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.3); 
    position: fixed;
    right: 30px;
    top: 200px; 
    width: 250px; 
    height: 700px;
}


.reklam {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.img{
  position: fixed;
  right: 30px;
  top: 200px; 
  width: 250px; 
  height: 700px;
}

.konu_olustur {
  position: fixed;
  right: 80px;
  top: 100px;
  background-color: #7e4343;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.konu_olustur_btn {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 20px;
}
 
  
  
