@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#navbar-placeholder *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
  

  #navbar-placeholder .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background:  #570202;
    color: #fff;
    position: fixed; /* Sabit pozisyon */
    top: 0; /* Üstte konumlandır */
    width: 100%; /* Tam genişlikte */
    z-index: 1000; /* Diğer içeriklerin üstünde kalmasını sağla */

  }
  
  #navbar-placeholder .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 30px;
  }
  
  #navbar-placeholder .actions {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  #navbar-placeholder .search {
    padding: 8px 15px;
    margin-right: 50px;
    border-radius: 15px;
    background-color: #f0eaf4;
  }
  
  #navbar-placeholder .login {
    padding: 8px 15px;
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    
  }

  #navbar-placeholder .logout {
    padding: 8px 15px;
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
  }

  #navbar-placeholder .profile {
    padding: 8px 15px;
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;

  }

  #navbar-placeholder .login :hover{
    color: #a39292;
  }

  #navbar-placeholder .logout :hover{
    color: #a39292;
  }

  #navbar-placeholder .profile :hover{
    color: #a39292;
  }

  #navbar-placeholder .login a{
    text-decoration: none;
    color: #EEEEEE;
  }

  #navbar-placeholder .profile a{
    text-decoration: none;
    color: #EEEEEE;
  }

  #navbar-placeholder .logout a{
    text-decoration: none;
    color: #EEEEEE;
  }

  #navbar-placeholder .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  #navbar-placeholder .nav ul li {
    margin: 0 15px;
    margin-left: 30px;
  }
  
  #navbar-placeholder .nav ul li a {
    color: white;
    text-decoration: none;
    
  }
