@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    margin: 0;
}


.job-main{
    width: 70%;
    height: auto;
    margin-left: 50px;
    margin-top: 70px;
}

.page-header{
    border: 1px solid #B4B4B8;
    vertical-align: middle;
    text-align: left;
    border-radius: 5px; 
}

.page-header h1{
    padding-left: 30px;
    margin: 0px;
}

ul{
    padding-left: 30px;
}

.minor-user {
    text-decoration: none;
    color: black;
}

.minor-user:hover{
    text-decoration: underline;
}

.minor li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    padding: 0 5px 0;
    margin: 0 10px 0 0;
}

.minor-list img{
    display: inline-block;
    height: 14px; 
    width: auto; 
    vertical-align: middle;
}

.message{
    margin-top: 10px;
    border: solid 1px #B4B4B8;
    border-radius: 5px;
    overflow: hidden; 
    box-sizing: border-box;
}

.message-user, .message-main {
    display: inline-block; 
    vertical-align: middle; 
}

.message-user {
    width: 20%; 
    padding: 10px; 
    box-sizing: border-box; 
    text-align: center;
}

.message-main {
    width: 65%; 
    padding: 5px;
    box-sizing: border-box; 
    border-left: solid 1px #B4B4B8;
}

.user-name a{
    text-decoration: none;
    color: #B4B4B8;
    
}

.user-name a:hover{
    text-decoration: underline;
    color: black;
}

.message-user .user-ico img{
    height: 60px;
    width: 60px;
}

.message-main header{
    padding-bottom: 2px;
    font-size: small;
    color: #B4B4B8; 
}

.requirement-header{
    margin: 10px 0px 5px;
    font-size: 20px;
    font-weight: bold;
}

.reklam_container {
    position: fixed;
    right: 20px;
    top: 155px; 
    width: 200px; 
    height: 500px;
  }
  
  .reklam_container:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.3); 
    position: fixed;
    right: 30px;
    top: 155px; 
    width: 200px; 
    height: 500px;
  }
  
  
  .reklam {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .reklam img{
    position: fixed;
    right: 30px;
    top: 155px; 
    width: 200px; 
    height: 500px;
  }
  
  .img{
    position: fixed;
    right: 30px;
    top: 200px; 
    width: 250px; 
    height: 700px;
  }

  footer {
    color: black;
    margin-top: 12.5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer p {
    margin: 0;
  }
