@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    margin: 0;
}


.subject-main{
    width: 70%;
    height: auto;
    margin-left: 50px;
    margin-top: 70px;
}

.page-header{
    border: 1px solid #B4B4B8;
    vertical-align: middle;
    text-align: left;
    border-radius: 5px; 
}

.page-header h1{
    padding-left: 30px;
    margin: 0px;
}

ul{
    padding-left: 30px;
}

.minor-user {
    text-decoration: none;
    color: black;
}

.minor-user:hover{
    text-decoration: underline;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    padding: 0 5px 0;
    margin: 0 10px 0 0;
}

.minor-list img{
    display: inline-block;
    height: 14px; 
    width: auto; 
    vertical-align: middle;
}

.message{
    margin-top: 10px;
    border: solid 1px #B4B4B8;
    border-radius: 5px;
    font-weight: 100px;
}

.message >div{
    display: inline-block;
}

.message-user{
    text-align: center;
    padding: 10px;
    height: 150px;
    border-right: solid 1px #B4B4B8;
}

.user-name a{
    text-decoration: none;
    color: #B4B4B8;
    
}

.user-name a:hover{
    text-decoration: underline;
    color: black;
}

.message-user .user-ico img{
    height: 60px;
    width: 60px;
}

.message-main{
    padding: 10px;
    position: absolute;
    width: 55%;
    height: auto;
    text-align: justify;
}

.message-main header{
    padding-bottom: 2px;
    font-size: small;
    color: #B4B4B8;
    
}

.like-section{
    margin-top: 10px;
    display: flex;
    align-items: end;
}

.like-image{
    width: 24px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
    
}

.like-count{
    font-size: 16px;
    
}

.like-image.liked {
    filter: grayscale(0);
}

.make-comment{
    width: 70%;
    height: 150px;
    margin-left: 50px;
    min-height: 1px;
    overflow-wrap: break-word;
    margin-top: 10px;
    border: solid 1px #B4B4B8;
    border-radius: 5px;
    font-weight: 100px;
}

.make-comment >div{
    display: inline-block;
}

#comment-area{
    width: 100%;
    padding: 10px;
    border: 2px solid #F6F5F2;
    margin-top: 2px;
    resize: none;
    width: 900px;
    height: 80px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.send-button{
    display: flex;
    justify-content: end;
}

#commentAddButton{
    background-color: #5b3a3a;
    color: #F6F5F2;
    border-radius: 3px;
    width: 80px;
    height: 25px;
    cursor: pointer;
    border: 2px;
}

#commentAddButton:hover{
    background-color: #570202;
}

textarea::placeholder{
    color: #B4B4B8;
    font-style: italic;
}

textarea.error::placeholder{
    color: red;
    font-weight: bold;
}

.reklam_container {
    position: fixed;
    right: 20px;
    top: 200px; 
    width: 250px; 
    height: 700px;
  }
  
  .reklam_container:hover {
      box-shadow: 0 0 50px rgba(0,0,0,0.3); 
      position: fixed;
      right: 30px;
      top: 200px; 
      width: 250px; 
      height: 700px;
  }
  
  
  .reklam {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .img{
    position: fixed;
    right: 30px;
    top: 200px; 
    width: 250px; 
    height: 700px;
  }

  footer {
    color: black;
    margin-top: 12.5px;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
  footer p {
    margin: 0;
  }
