* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.subject-main {
    width: 70%;
    height: auto;
    margin-left: 50px;
    margin-top: 70px;
}

.page-header {
    border: 1px solid #B4B4B8;
    vertical-align: middle;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
}

.crud_button {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    
}

.crud_button img {
    height: 16px;
    width: auto;
    vertical-align: middle;
}

.crud_button .remove_subject button {
    font-size: 16px;
    background-color: #C40C0C;
    color: white;
    border: 1px solid #E72929;
    border-radius: 5px;

}

.crud_button .edit_subject button {
    font-size: 16px;
    background-color: #FF6500;
    color: white;
    border: 1px solid #FF8A08;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-title {
    flex-grow: 1;
}

.minor {
    margin-top: 10px;
}

.minor-list {
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.minor-list img{
 width: 16px;
 height: auto;
}

.minor-user {
    text-decoration: none;
    color: black;
}

.minor-user:hover {
    text-decoration: underline;
}

.minor-list li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.message {
    margin-top: 10px;
    border: solid 1px #B4B4B8;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.message-user,
.message-main {
    display: inline-block;
    vertical-align: top;
}

.message-user {
    width: 20%;
    height: 100%;
    vertical-align: middle;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.message-main {
    width: 78%;
    padding: 5px;
    box-sizing: border-box;
    border-left: solid 1px #B4B4B8;
}

.user-name a {
    text-decoration: none;
    color: #B4B4B8;
}

.user-name a:hover {
    text-decoration: underline;
    color: black;
}

.message-user .user-ico img {
    height: 60px;
    width: 60px;
}

.message-main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    color: #B4B4B8;
    margin-bottom: 30px; 
}

.make-comment {
    width: 70%;
    height: 150px;
    margin-left: 50px;
    min-height: 1px;
    overflow-wrap: break-word;
    margin-top: 10px;
    border: solid 1px #B4B4B8;
    border-radius: 5px;
    font-weight: 100px;
}

.make-comment > div {
    display: inline-block;
}

#comment-area {
    width: 100%;
    padding: 10px;
    border: 2px solid #F6F5F2;
    margin-top: 2px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.send-button {
    display: flex;
    justify-content: end;
}

#commentAddButton {
    background-color: #5b3a3a;
    color: #F6F5F2;
    border-radius: 3px;
    width: 80px;
    height: 25px;
    cursor: pointer;
    border: 2px;
}

#commentAddButton:hover {
    background-color: #570202;
}

textarea::placeholder {
    color: #B4B4B8;
    font-style: italic;
}

textarea.error::placeholder {
    color: red;
    font-weight: bold;
}

.reklam_container {
    position: fixed;
    right: 20px;
    top: 155px;
    width: 200px;
    height: 500px;
}

.reklam_container:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 30px;
    top: 155px;
    width: 200px;
    height: 500px;
}

.reklam {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reklam img {
    position: fixed;
    right: 30px;
    top: 155px;
    width: 200px;
    height: 500px;
}

.img {
    position: fixed;
    right: 30px;
    top: 200px;
    width: 250px;
    height: 700px;
}

footer {
    color: black;
    margin-top: 12.5px;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

footer p {
    margin: 0;
}

.like-section{
    margin-top: 10px;
    display: flex;
    align-items: end;
}

.like-image{
    width: 24px;
    height: auto;
    margin-right: 5px;
    cursor: pointer;
    
}

.like-count{
    font-size: 16px;
    
}

.like-image.liked {
    filter: grayscale(0);
}