@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.block-container {
    width: 70%; 
    margin: auto;
    border: 1px solid red; 
    border-collapse: collaps;
    border-radius: 5px;
}

.block-header {
    margin: 0;
    padding: 5px;
    background-color: #F27BBD;
    text-align: start;
}

.block-body {
    display: inline-table;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0; 
    height: 50%;
}

.discuss-title a{
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #0E46A3;
    text-decoration: none;
    vertical-align: text-top;
    
}

.discuss-title a:hover{
    text-decoration-line: underline;
}

.user-name a{
    font-size: 12px; 
    text-align: center;
}

.minor {
    font-size: 12px; 
    text-align: center;
}

.minor ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    
}

.user-icon img{
    height: 50px;
    width: 50px;
    
}

.minor ul li {
    display: inline-block; 
    margin-right: 10px;
    
}

.user-name,
.date {
    color: #666; 
    text-decoration: none;
    /* display: inline-block;  */
}

.minor .date::before{
    content: "•";
}


.item  {
    display: table-row;
    background-color: #f0f0f0; 
    
    
    
}

.item > div {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle; 
}


