body{
    background-color: #c0c0c0;
    
}

.padding {
    padding: 3rem;
}

.user-card-full {
    margin: 0 auto; /* Sayfanın ortasında olmasını sağlar */
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
    width: 800px; 
    margin-top: 100px;
    
}
 .col-sm-8{
    background-color: #c0c0c0;
 
 }

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: linear-gradient(to right, #570202,#7e4343, #7e4343,#570202);
   
    
}

.user-profile {
    padding: 20px 0;

}

.card-block {
    padding: 1.25rem;
}

.profile-container {
    text-align: center;
}
.profileimage {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Fotoğrafın kare boyutlarda kesilmesini sağlar */
    border-radius: 10px; /* Kare görünümü için bir border radius ayarı */
}
.profile-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: inline-block;
}


.file-input {
    display: none;
}
.file-label {
    display: inline-block;
    background-color: #7f4e4e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}


h6 {
    font-size: 14px;
}


@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #A6B1E1;
}


.p-b-5 {
    padding-bottom: 5px;
}

.card .card-block p {
    line-height: 25px;
}

.text-muted {
    color: #919aa3 ;
}

.b-b-default {
    border-bottom: 1px solid #A6B1E1;
}

.f-w-600 {
    font-weight: 600;
    color: #000000;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.changePasswordButton {
    margin-top: 20px;
    background-color: #e0dede;
    color: #570202;
    border-radius: 5px;
}

