@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c0c0c0;    
    font-family: 'Poppins', sans-serif;
}

.button-outside {
    position: absolute;
    top: 188px;
    left: 369px;
}

.button-outside button{
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
}

.button-outside img{
    width: 18px;
    height: auto;
    vertical-align: middle;
}

.container {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}

.profile-card {
    display: flex;
    width: 800px;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    
}

.profile-sidebar {
    background: linear-gradient(to right, #570202,#7e4343, #7e4343,#570202);
    padding: 20px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    color: white;
    width: 300px;
}

.profile-container {
    text-align: center;
}

.profileimage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
}

.profile-title {
    margin-top: 20px;
    font-size: medium;
}

.profile-subtitle {
    color: #ccc;
    margin-top: 10px;
}

.profile-details {
    padding: 20px;
    width: 500px;
}

.section-title {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #570202;
    font-size: large;
}

.profile-info {
    display: flex;
    flex-wrap: wrap;
}

.info-item {
    width: 50%;
    margin-bottom: 20px;
}

.info-title {
    font-size: medium;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-text {
    color: #919aa3;
    font-size: small;
}

.changePasswordButton {
    display: inline-block;
    background-color: #570202;
    color: #fff;
    padding: 10px 20px; /* Daha büyük padding */
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s; /* Geçiş efektleri eklendi */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Varsayılan gölge */
}

.changePasswordButton:hover {
    background-color: #6e3f3f; /* Hover rengi */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Hover gölgesi */
}

footer {
    color: black;
    padding-bottom: 12.5px; 
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
}
footer p {
    margin: 0;
}

.file-input {
    display: none;
}
.file-label {
    display: inline-block;
    background-color: #7f4e4e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}