@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 1.5em;
    color: #EEEEEE;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: #EEEEEE;
    font-weight: 500;
    margin-left: 30px;
}

.navigation a:hover{
    color: #00ADB5;
}

.navigation .btnLogin,.btnLogup  {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #EEEEEE;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #EEEEEE;
    font-weight: 500;
    margin-left: 30px;
}

.navigation .btnLogin:hover,.btnLogup:hover{
    background: #EEEEEE;
    color: #00ADB5;
}

.kart{
    position: relative;
    width: 400px;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.kart .form-box{
    width: 100%;
    padding: 40px;
}

.kart h2{
    font-size: 2em;
    color: #EEEEEE;
    margin: 10px 0 -10px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #EEEEEE;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #EEEEEE;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

/* .input-box input:focus~label, .input-box input:valid~label{
    top: -5px;
} */

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #EEEEEE;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.forgot-password a{
    text-decoration: none;
    color: #EEEEEE;
    display: flex;
    justify-content: right;
    margin: -15px 0 15px;
}

.forgot-password a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 40px;
    background-color: #0C359E;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #EEEEEE;
    font-weight: 500;
}

.kayıt{
    font-size: .9em;
    color: #EEEEEE;
    text-align: center;
    font-weight: 400;
    margin: 20px 0 10px;
}

.kayıt p a{
    color: #EEEEEE;
    text-decoration: none;
    font-weight: 600;
}

.kayıt p a:hover{
    text-decoration: underline;
}

.p{
    text-align: center;
}